body {
  background-color: #202124 !important;
  color: #ffffff !important;
}
.tox .tox-edit-area__iframe {
  background-color: #202124 !important;
  border: 0;
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  position: absolute;
  width: 100%;
}

.tox .tox-editor-header {
  background-color: #202124 !important;
  color: #ffffff !important;
}
.icon-cursor {
  color: white !important;
}
.navbar-text {
  color: white !important;
}
.note-name-heading {
  background-color: #202124;
}
.mce-content-body {
  color: #ffffff !important;
}
.form-control {
  background-color: #202124 !important;
  color: white !important;
}
.dashboard-border {
  border-color: #2c3338 !important;
}
.header-hover:hover {
  background-color: #2c3338;
}
