body {
  background-color: #202124 !important;
  color: #ffffff !important;
}
.tox .tox-edit-area__iframe {
  background-color: #202124 !important;
  border: 0;
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  position: absolute;
  width: 100%;
}
