body {
  background-color: white !important;
  color: black !important;
}
.tox .tox-edit-area__iframe {
  background-color: white !important;
  border: 0;
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  position: absolute;
  width: 100%;
}

.tox .tox-editor-header {
  background-color: white !important;
  color: black !important;
}
.mce-content-body {
  color: black !important;
}
.icon-cursor {
  color: black !important;
}
.navbar-text {
  color: black !important;
}
.dashboard-border {
  border-color: #dcdcde !important;
}
