.dashboard-container {
  height: 100vh;
}
.navbar-text {
  justify-content: end;
}
.icon-cursor {
  cursor: pointer;
}
/* .note-name-heading {
  outline: none !important;
  border: none !important;
} */
.note-name {
  overflow: hidden;
  word-wrap: break-word;
}
