body {
  background-color: rgb(255, 0, 0) !important;
  color: black !important;
}
.tox .tox-edit-area__iframe {
  background-color: rgb(255, 0, 0) !important;
  border: 0;
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  position: absolute;
  width: 100%;
}
